<div class="container" ng-controller="CalculatorCtrl">
  <header>
    A Work in Progress...
  </header>
  <div class="tabs-header">
    <div class="tabs">
      <tab ng-repeat="calculator in calculators" ng-class="{ active: calculator.active}" total="{{calculator.currentDisplay}}" id="calculator.id"></tab>
    </div>
    <div class="tab-new">
      &plus; new
    </div>
  </div>
  <div calculator class="calculator" active-calculator="activeCalculator">
    <div class="row display-summary">
    {{currentAnswer}}
    </div>
    <div class="row">
      <div class="display-board">
        00000000000
        <input type="text" class="total" id="display" ng-model="currentDisplay">
        </input>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <calc-button size="small" operator="parens-open" action="("></calc-button>
        <calc-button size="small" operator="parens-close" action=")"></calc-button>
        <!-- modulo -->
        <calc-button size="small" operator="unary" action="&#37;"></calc-button>
        <!-- square root -->
        <calc-button size="small" operator="unary" action="&#8730;"></calc-button>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <calc-button size="small" operator="clear" operator="clear" action="AC"></calc-button>
        <calc-button size="small" operator="plusminus" action="&plusmn;"></calc-button>
        <calc-button size="small" operator="divide" action="/"></calc-button>
        <calc-button size="small" operator="times" action="&lowast; "></calc-button>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <calc-button size="small" operator="number" action="7"></calc-button>
        <calc-button size="small" operator="number" action="8"></calc-button>
        <calc-button size="small" operator="number" action="9"></calc-button>
        <calc-button size="small" operator="minus" action="&minus;"></calc-button>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <calc-button size="small" operator="number" action="4"></calc-button>
        <calc-button size="small" operator="number" action="5"></calc-button>
        <calc-button size="small" operator="number" action="6"></calc-button>
        <calc-button size="small" operator="plus" action="&plus;"></calc-button>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="row">
          <calc-button size="small" operator="number" action="1"></calc-button>
          <calc-button size="small" operator="number" action="2"></calc-button>
          <calc-button size="small" operator="number" action="3"></calc-button>
        </div>
        <div class="row">
          <calc-button size="wide" operator="number" action="0"></calc-button>
          <calc-button size="small" action="."></calc-button>
        </div>
      </div>
      <div class="col-1">
        <calc-button size="tall" operator="equal" action="="></calc-button>
      </div>
    </div>
  </div>
</div>