<div class="tabs">
  <tab total="23"></tab>
  <tab total="23555"></tab>
  <tab total="181818"></tab>
  <tab total="1337"></tab>
  <div class="tab-new">
    &plus; new
  </div>
</div>
<div class="calculator">
  <div class="row">
    <div class="display-board">
      00000000000
      <div class="total" id="display">
        <span class="digit">0</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <calc-button size="small" operator="memory" action="MC"></calc-button>
      <calc-button size="small" operator="memory" action="M+"></calc-button>
      <calc-button size="small" operator="memory" action="M-"></calc-button>
      <calc-button size="small" operator="memory" action="MR"></calc-button>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <calc-button size="small" operator="clear" operator="clear" action="C"></calc-button>
      <calc-button size="small" operator="math" action="&plusmn;"></calc-button>
      <calc-button size="small" operator="math" action="/"></calc-button>
      <calc-button size="small" operator="math" action="&lowast; "></calc-button>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <calc-button size="small" operator="number" action="7"></calc-button>
      <calc-button size="small" operator="number" action="8"></calc-button>
      <calc-button size="small" operator="number" action="9"></calc-button>
      <calc-button size="small" operator="number" action="&minus;"></calc-button>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <calc-button size="small" operator="number" action="4"></calc-button>
      <calc-button size="small" operator="number" action="5"></calc-button>
      <calc-button size="small" operator="number" action="6"></calc-button>
      <calc-button size="small" operator="math" action="&plus;"></calc-button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="row">
        <calc-button size="small" operator="number" action="1"></calc-button>
        <calc-button size="small" operator="number" action="2"></calc-button>
        <calc-button size="small" operator="number" action="3"></calc-button>
      </div>
      <div class="row">
        <calc-button size="wide" operator="number" action="0"></calc-button>
        <calc-button size="small" action="."></calc-button>
      </div>
    </div>
    <div class="col-1">
      <calc-button size="tall" action="="></calc-button>
    </div>
  </div>
</div>