// Place all the styles related to the calculators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
  font-family: Calculator;
  src: url('/fonts/digital-7.ttf');
}
$curves: 3px;

body {
  font-size: 24px;
  background: #a8d496;
}

* {
  font-size: 1em;
  &:focus {
    outline-color: #EBEBEB;
  }
}

.container {
  margin: auto;
}

header {
  font-family: 'Trebuchet MS', Trebuchet, sans-serif;
  padding: 30px 15px;
}

.calc-text {
  font-family: 'Calculator', 'Ubuntu Monto', monospace;
}

.tabs {
  width: 304px;
  position: relative;
  top: 6px;
  border-radius: 5px 5px 0 0;

  height: 35px;
  white-space: nowrap;

  .tab {
    font-family: 'Calculator', 'Ubuntu Monto', monospace;
    color: #696969;
    display: inline-block;
    padding: 7px;
    font-size: 18px;
    padding-bottom: 0;
    min-width: 40px;
    height: 26px;

    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border: solid 1px #ddd;
    border-bottom: solid 1px #f0f0f0;
    box-shadow: inset 0 -4px 3px #E2E2E2;
    border-left: none;
    border-color: #ccc;
    border-top: solid 2px #afafaf;
    cursor: pointer;

    background: #E7E7E7;

    margin-left: -6px;
    padding-left: 10px;
    text-align: right;

    position: relative;
    padding-bottom: 1px;
    top: -6px;
    z-index: 1;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      // add tab
    }

    &.active {
      background: #f0f0f0;
      box-shadow: none;
      z-index: 99;
      border-bottom: none;
    }
  }

  .tab-new {
    @extend .tab;
    background: #BEDAB3;
    border-bottom: solid 4px #a8d496;
    border-left: solid 4px #a8d496;
    border-top: none;
    border-right: none;
    height: 22px;
    color: #657F5A;

    box-shadow: none;

    position: absolute;
    right: 7px;
    top: -3px;

    &:focus {
      opacity: 0.5;
    }
  }
}
.calculator {
  $calc-width: 294px;
  $calc-padding: 5px;
  $btn-small-width-px: 64px;
  $btn-padding: 5px;
  width: $calc-width;
  height: 409px;
  background: #f0f0f0;
  box-shadow: 5px 21px 20px #77926B;
  padding: $calc-padding;
  padding-top: 20px;
  border-radius: 8px;
  border-bottom: solid 8px #DBDBDB;
  border-top: solid 1px #dbdbdb;
  border-top-left-radius: 0;

  position: relative;
  z-index: 5;

  .display-board {
    $display-padding: 15px;
    margin: 8px;
    height: 1em;
    font-size: 48px;
    padding: $display-padding;
    padding-bottom: 3px; // compensates for text
    background: #1a1a1a;
    border-radius: $curves;
    font-family: 'Calculator', 'Ubuntu Monto', monospace;
    color: #2b2b2b;
    text-align: right;

    position: relative;

    .total {
      color: white;
      // take out of page flow, for spacing calculator
      position: absolute;
      right: $display-padding - 5px;
      top: $display-padding;
      opacity: 0.85;

      .digit {
        width: 23px;
        display: block;
        float: right;
      }
    }
  }
  .row {
    width: $calc-width;
    margin: auto;
    min-height: 48px;

    &:last-child {
      // contains large button
      height: 48px * 2;
    }
    div[class*='col-'] {
      float: left;
      .row {
        margin: 0;
      }
    }
    .col-1 {
      width: 25%;
    }
    .col-2 {
      width: 50%;
    }
    .col-3 {
      width: 218px;
    }
    .col-4 {
      width: 100%;
    }
  }

  .calc-btn {
    appearance: none;
    -webkit-appearance: none;
    background-color: #f2f2f2;
    border-radius: $curves;
    border: solid 1px #e8e8e8;
    font-family: 'Trebuchet MS', Trebuchet, sans-serif;
    font-size: 1em;
    color: #5c5c5c;
    padding: 10px 15px;
    margin: 1.5px;
    cursor: pointer;

    &:first-child {
      margin-left: 3px;
    }
    &:last-child {
      margin-right: 3px;
    }

    &:active {
      box-shadow: inset 2px 3px 5px #E7E7E7, inset -2px -2px 5px #E7E7E7;
      background-color: #EEEEEE;
      outline: none;
    }

    &:focus {
      outline: none;
    }

    &.btn-small {
      width: $btn-small-width-px;
    }

    &.btn-wide {
      width: 136px; // ????
    }

    &.btn-tall {
      width: $btn-small-width-px;
      height: 102px;
      margin: 1.5px;
      position: relative;
      left: 2px;
    }
  }
}